.App {
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------Header---------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------*/

button:focus {
  outline:0 !important;
}

/*holds navbar, matches background for large screens*/
.navbar-container {
  background-color:#d81921 !important;
  width:100%;
  height:56px;
  z-index:5;
  position:fixed;
  top:0px;
}

#white-nav {
  background-color:#d81921 !important;
}

.collapse ul {
  background-color:#d81921;
}

.navbar-toggler {
  border-color:#222 !important;
}

.navbar-toggler-icon {
  background-image: url(./ham_icon.png) !important;
}

nav {
  position:fixed !important;
  top:0px;
  width:100%;
  max-width:960px;
  z-index:5;
}

.nav-item {
  padding-left:10px;
  padding-right:10px;
  font-size:14px;
  font-weight:500;
  letter-spacing:1px;
}

.nav-item a {
  color: white !important;
}

ul {
  padding:10px;
}

li a {
  color:white !important;
  line-height:30px;
}

a:link {
  text-decoration: none !important;
}

li a:hover {
  color:lightblue !important;
}

.dropdown .nav-link {
  padding:0px;
  padding-left:20px;
}

.no-padding-nav {
  padding:0px !important;
  padding-left:20px !important;
}

.padded-nav {
  padding-left:20px;
}

.navbar-nav {
  text-align:left;
}

/*centers the navbar*/
.ml-auto {
  margin-right: auto !important;
}

@media only screen and (min-width: 900px) {
  nav {
    width:940px;
    left:50%;
    margin-left:-470px;
  }
}

@media only screen and (min-width: 768px) {
  #white-nav {
    height:56px;
  }
}

/*--------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------Home-----------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------*/

.main {
  margin-top:48px;
  background-image: url(./home-back.jpg);
  height:500px;
  overflow:hidden; 
  width:100%;
  background-position: center !important;
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment:fixed;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 700px) {
  .main {
    background-attachment: scroll;
  }
}

.statement h1 {
  display:block;
  text-align:center;
  font-size:calc(20px + 2vw);
  margin:auto;
  font-weight:400;
  letter-spacing:2px;
  margin-top:-30px;
  margin-left:auto;
  margin-right:auto;
  max-width:800px;
  color:white;
}

.main .btn-holder {
  margin-top:40px;
  margin-left:auto;
  margin-right:auto;
  width:fit-content;
}

/*holds the form*/
.form-container {
  width:90%;
  max-width:800px;
  margin-top:30px;
}

/*is the bootstrap Form*/
#url-form {
  position:relative;
}

/*is the bootstrap Input inside the Form*/
#url-input {
  width:100%;
  height:50px;  
  border-radius: .25rem;
  font-size:16px;
  position:relative;
}

/*is the bootstrap Button inside the Form*/
#inline-button {
  height:50px;
  border-radius: 0 .25rem .25rem 0;
  background-color:#ff6700;
  border-color:#ff6700;
  font-size:14px;
  position:absolute;
  top:0;
  right:0;
  z-index:4;
}

/*conditionally rendered result box container for shortened URL*/
.result-container {
  margin-top:100px;
  align-self:center;
  position:absolute;
  text-align:center;
  max-width:95%;
}

@media only screen and (max-width: 438px) {
  /*adjust margin for when statement takes 2 lines*/
  .result-container {
    margin-top:113px;
  }
}

/*conditionally rendered result box for shortened URL*/
.result-text {
 /* background-color: rgba(0, 123, 255, 0.3);*/
  text-align:center;
  color:white;
  margin-bottom:5px;
  padding:5px;
  border-radius:10px;
  letter-spacing:2px;
  font-size:18px;
  font-weight:500;
}

.popover {
  z-index:4 !important;
}


/*--------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------description.js-------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------*/
.description {
  text-align:center;
  background-color:#F5F5F5;
  padding-top:30px;
  padding-bottom:30px;
  overflow:hidden; 
  width:100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:#263238;
  font-size:21px;
  font-family:"Roboto";
}

.description-text {
  margin-top:1rem;
  max-width:700px;
}



/*--------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------footer---------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------*/
.footer {
  height:250px;
}

.social-media {
  margin:30px auto;
  width:fit-content;
}

.social-icons {
  margin: 20px;
}

.footer p {
  text-align:center;
  margin-bottom:50px;
  color:#ff6700;
}

.up-container {
  width:fit-content;
  margin:30px auto;
}

.back-top {
 color:#ff6700;
}

.back-top:hover {
  cursor:pointer;
}

/*--------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------about----------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------*/

.heading {
  text-align:center;  
  margin-top:56px;
  background-color:#21201E;
  height:200px;
  overflow:hidden; 
  width:100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:white;
}

.heading h1 {  
  letter-spacing:3px;
  font-weight:500;  
  font-size:calc(19px + 2vw);
  font-family: "Anton";
}

.key-solution {
  max-width:900px;
  font-size:28px;
  font-size:calc(13px + 2vw);
  font-family:"Roboto";
}

@media only screen and (min-width: 1025px) {
  .heading h1 {
    font-size:40.5px;
  }

  .key-solution{
    font-size:34.5px;
  }
}


/*--------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------media queries >767px-------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 767px) {
  ul {
    background-color:#f8f9fa;
    padding:0px;
  }

  li a{
    color:black !important;
  }
}